.git
.gitignore
docker
docker-compose.yml
*.md
*.pdf
node_modules
storage/app/public/*
storage/logs/*
bootstrap/cache/*
.env
.env.*
!.env.example
vendor
tests
phpunit.xml
pint.json
vite.config.js
package.json
